<html>
  <head>
    <meta charset='utf-8' />
    <title>App HBS</title>
  </head>
  <body>
    {{message}}

    from INTERNET (CSP check)
    <img
      src='https://avatars.dzeninfra.ru/get-zen_doc/271828/pub_68500dd2f797e7455ccba56f_68500e40e3494d505068dbc5/scale_1200'
      alt='Grapefruit slice atop a pile of other slices'
      width='450'
      height='350'
    />

    from PUBLIC
    <img
      src='/public/images/hostile.jpg'
      alt='Grapefruit slice atop a pile of other slices'
      width='450'
      height='350'
    />
  </body>
</html>